{% extends 'base.html' %}

{% block content %}

<h1>Stock Data Visualizer</h1>
    <hr>
    <form method="POST">
        <label for="symbol">Choose Symbol: </label>
        <select id="symbol" name="symbol" required>
            <option disabled selected value>Select a symbol</option>
            {% for symbol in stock_symbols %}
            <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="chart">Choose Chart Type: </label>
        <select id="chart" name="chart" required>
            <option disabled selected value>Select chart type</option>
            <option>Bar</option>
            <option>Line</option>
        </select>
        <br>
        <label for="time_series">Choose Time Series: </label>
        <select id="time_series" name="time_series" required>
            <option disabled selected value>Select time series function</option>
            <option>Intraday</option>
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
        </select>
        <br>
        <label for="start_date">Start Date: </label>
        <input type="date" id="start_date" name="start_date" required>
        <br>
        <label for="end_date">End Date: </label>
        <input type="date" id="end_date" name="end_date" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <hr>

    {% if chart %}
        <h1>Stock Data for {{ selected_stock }}: {{ start_date }} - {{ end_date }}</h1>
        <object type="image/svg+xml" data="{{ chart }}"></object>
    {% endif %}

{% endblock %}